# Ambiente virtual
.venv/
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

*.egg-info/

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# VS Code / PyCharm
.vscode/
.idea/

# Mac
.DS_Store

# Arquivos grandes / dados
*.csv
!*.dvc
*.parquet

# Modelos treinados
models/
*.pkl
*.joblib

# Secrets
.env

#Remover agents prompts
agents/

# Arquivos de banco de dados
*.db